{% extends 'header.html' %}
{% block content %}
    <div class="main_window">
        <h2>pH calculator</h2>
        <h3>Strong acid and base</h3>

        <!-- Formulário para cálculo de ácidos fracos e bases fortes -->
        <form method="POST">
            <label for="acid_vol">Enter acid volume (mL): </label>
            <input type="number" id="acid_vol" name="acid_vol" step="any" required> <br/>

            <label for="acid_con">Enter acid concentration (mol/L): </label>
            <input type="number" id="acid_con" name="acid_con" step="any" required> <br/>

            <label for="base_vol">Enter base volume (mL): </label>
            <input type="number" id="base_vol" name="base_vol" step="any" required> <br/>

            <label for="base_con">Enter base concentration (mol/L): </label>
            <input type="number" id="base_con" name="base_con" step="any" required> <br/>

            <label for="base_con">Enter base constaint: </label>
            <input type="number" id="input_kb_significant_digits" name="input_kb_significant_digits" step="any" placeholder="1.7" required>
            <label for="base_con"> * 10 ^ -</label>
            <input type="number" id="input_kb_exponent" name="input_kb_exponent" step="any" placeholder="5" required> <br/>

            <button type="submit">Calculate</button>
        </form>
        <a href="/phcalc">Return to pH calculator page</a>
        
        <!--    FINAL DE TODOS OS CÁLCULOS  -->
        {% if pH is not none and pOH is not none %}
        <div class="response">
            <p class="awnser">pH = {{ pH }}</p>
            <p class="awnser">pOH = {{ pOH }}</p>
        </div>
        {% endif %}
        
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
