{% extends 'header.html' %}
{% block content %}
    <div class="main_window">
        <h2>Analytical Factor</h2>

        <form method="POST">
            <label for="PM_value">Enter molecular weight: </label>
            <input type="number" id="PM_value" name="PM_value" step="any">
            <br/>

            <label for="M_value">Enter molarity value: </label>
            <input type="number" id="M_value" name="M_value" step="any">
            <br/>

            <button type="submit">Calculate</button>
        </form>

        {% if PM_value is not none and M_value is not none %}
        <div class="response">
            <p class="awnser">FA = {{ FA }}</p>
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}