{% extends 'header.html' %}
{% block content %}
    <div class="main_window">
        <h2>Acid-base Titration curve</h2>
        <h3>Choose what you want to calculate</h3>
        <ul>
            <!--    /phcurve/curve_acid_base1   -->
            <li>
                <a href="/phcurve/curve_acid_base1">Strong acid</a>
            </li>
            <li>
                <a href="/phcurve/curve_acid_base2">Strong base</a>
            </li>
            <li>
                <a href="/phcurve/curve_acid_base3">Weak acid</a>
            </li>
            <li>
                <a href="/phcurve/curve_acid_base4">Weak base</a>
            </li>
        </ul>
    </div>
{% endblock %}
